* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

.v-main {
  background: linear-gradient(
    rgba(96, 166, 160, 0.2),
    rgba(60, 71, 152, 0.2),
    rgba(43, 45, 108, 0.2),
    rgba(185, 66, 71, 0.2)
  );
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right {
  display: none !important;
}

.v-bottom-navigation {
  height: 8vh !important;
}